###############################################################################
# Normalização de texto
###############################################################################

* text=auto eol=lf

###############################################################################
# Arquivos Java e texto
###############################################################################

*.java text
*.kt text
*.groovy text
*.xml text
*.yml text
*.yaml text
*.properties text
*.sql text
*.md text
*.gradle text
*.sh text eol=lf
*.bat text eol=crlf

###############################################################################
# Arquivos binários
###############################################################################

*.jar binary
*.war binary
*.ear binary
*.class binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary

###############################################################################
# IDEs
###############################################################################

*.iml text
*.ipr text
*.iws text

###############################################################################
# Maven / Gradle
###############################################################################

.gradle/** -text
build/** -text
target/** -text
